openapi: 3.2.0
info:
  title: Abnormal Security Client Security Settings API
  version: 1.4.3
  description: This is the specification for Abnormal Security Client API which can be used for managing security threats detected by Abnormal Security.
  termsOfService: https://legal.abnormalsecurity.com/legal-hub/abnormal-security-api-terms-of-service-6feee5e3
  contact:
    name: Abnormal Security Support
    email: support@abnormalsecurity.com
servers:
- url: https://api.abnormalplatform.com/v1
  description: Production Server for managing threats
- url: https://eu.rest.abnormalsecurity.com/v1
  description: EU Production Server for managing threats.
security:
- BearerAuth: []
tags:
- name: Security Settings
  description: API to retrieve security settings including session timeout configuration
paths:
  /security-settings:
    get:
      operationId: v1_security_settings_retrieve
      description: 'Fetch security settings for an account.


        This endpoint retrieves security settings including session timeout

        configuration (inactivity timeout and max session time).'
      summary: Get security settings including session timeout configuration
      parameters:
      - in: header
        name: mock-data
        schema:
          type: string
          default: 'False'
          enum:
          - 'False'
          - 'True'
        description: Returns test data if set to `True`
      tags:
      - Security Settings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySettingsResponse'
          description: Security settings for the account including session timeout configuration.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden - Either insufficient permissions or feature not enabled for account
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
components:
  responses:
    NotFoundError:
      description: Invalid user input when using the filter query parameter. Will return various error messages
    UnauthorizedError:
      description: Access token is missing or invalid
    TooManyRequestsError:
      description: Request count exceeds allowed number of concurrent requests for this resource type
  schemas:
    SessionSettingsSwagger:
      type: object
      description: Swagger serializer for session settings.
      properties:
        inactivity_timeout_minutes:
          type:
          - integer
          - 'null'
          description: Inactivity timeout in minutes (time before session expires due to inactivity)
        max_session_time_minutes:
          type:
          - integer
          - 'null'
          description: Maximum session time in minutes (absolute max time before re-authentication required)
      required:
      - inactivity_timeout_minutes
      - max_session_time_minutes
    SecuritySettingsDataSwagger:
      type: object
      description: Swagger serializer for security settings data.
      properties:
        session_settings:
          allOf:
          - $ref: '#/components/schemas/SessionSettingsSwagger'
          description: Session timeout settings
      required:
      - session_settings
    SecuritySettingsResponse:
      type: object
      description: Swagger serializer for security settings response.
      properties:
        status:
          type: string
          default: success
          description: Status of the response
        status_code:
          type: integer
          default: 200
          description: HTTP status code
        data:
          allOf:
          - $ref: '#/components/schemas/SecuritySettingsDataSwagger'
          description: Security settings data
      required:
      - data
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
