openapi: 3.2.0
info:
  title: Abnormal Security Client Security Settings API
  version: 1.4.3
  description: 'This is the specification for Abnormal Security Client API which can be used for managing security threats detected by Abnormal Security.

    <h2>Who is this API for?</h2>

    This API is for managing threats to an organization identified by Abnormal Security. The organization should be integrated with Abnormal Security and enabled for real-time detection of malicious emails.

    <h2> Integration Steps </h2>

    Go to `https://portal.abnormalsecurity.com/home/settings/integrations` & click on `Abnormal REST API`

    <h3> Step 1: Generating the authentication token </h3>


    Retrieve your authentication token via the <a href="https://portal.abnormalsecurity.com/home/settings/integrations">Abnormal portal</a>. You will use this token to view and modify your Abnormal-detected threats and cases.


    Keep the token safe, as it grants access to sensitive threat data related to your organization. Store it in a secure place, such as an encrypted password vault, and do not share it unless absolutely necessary. If you feel that the token has been compromised, please contact your Account Manager immediately.


    Once obtained, the token can be used in a request from any HTTP client, such as cURL:

    <pre> curl -H "Authorization: Bearer  << ACCESS_TOKEN >>" https://api.abnormalplatform.com/v1/threats </pre>


    <h3> Step 2: IP allowlisting </h3>


    IP allowlisting ensures that API access is only possible from IP addresses explicitly belonging to your organization. It prevents users from unauthorized networks to access your Abnormal SOAR data. This second layer of security helps keep your data safe from unauthorized users, and protects you in the event of a token compromise.


    To allowlist your organization''s IPs, please provide enter into the <a href="https://portal.abnormalsecurity.com/home/settings/integrations">Abnormal portal</a> specific IPv4 / IPv6 addresses, or a range of addresses using a <a href="https://www.ipaddressguide.com/cidr"> CIDR block</a>.


    <h3> Step 3: Try it out with Test Data </h3>


    To confirm that <b>Steps 1 & 2</b> have been configured properly, send a request to the server with the following header set:


    <pre> curl -H "Authorization: Bearer  << ACCESS_TOKEN >>" <b>-H "Mock-Data: True"</b> https://api.abnormalplatform.com/v1/threats </pre>


    The server should respond with a body payload similar to the examples specified in this documentation.


    <h3> Note for EU Customers </h3>


    If you''re a customer in the EU, you''ll need to make API requests to our EU host `https://eu.rest.abnormalsecurity.com`. If you''d like to test the API through SwaggerHub, you''ll find both the default host and the EU host in the Servers dropdown menu below.

    '
  termsOfService: https://legal.abnormalsecurity.com/legal-hub/abnormal-security-api-terms-of-service-6feee5e3
  contact:
    name: Abnormal Security Support
    email: support@abnormalsecurity.com
servers:
- url: https://api.abnormalplatform.com/v1
  description: Production Server for managing threats
- url: https://eu.rest.abnormalsecurity.com/v1
  description: EU Production Server for managing threats.
security:
- BearerAuth: []
tags:
- name: Security Settings
  description: API to retrieve security settings including session timeout configuration
paths:
  /security-settings:
    get:
      operationId: v1_security_settings_retrieve
      description: 'Fetch security settings for an account.


        This endpoint retrieves security settings including session timeout

        configuration (inactivity timeout and max session time).'
      summary: Get security settings including session timeout configuration
      parameters:
      - in: header
        name: mock-data
        schema:
          type: string
          default: 'False'
          enum:
          - 'False'
          - 'True'
        description: Returns test data if set to `True`
      tags:
      - Security Settings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySettingsResponse'
          description: Security settings for the account including session timeout configuration.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden - Either insufficient permissions or feature not enabled for account
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
components:
  schemas:
    SecuritySettingsResponse:
      type: object
      description: Swagger serializer for security settings response.
      properties:
        status:
          type: string
          default: success
          description: Status of the response
        status_code:
          type: integer
          default: 200
          description: HTTP status code
        data:
          allOf:
          - $ref: '#/components/schemas/SecuritySettingsDataSwagger'
          description: Security settings data
      required:
      - data
    SessionSettingsSwagger:
      type: object
      description: Swagger serializer for session settings.
      properties:
        inactivity_timeout_minutes:
          type:
          - integer
          - 'null'
          description: Inactivity timeout in minutes (time before session expires due to inactivity)
        max_session_time_minutes:
          type:
          - integer
          - 'null'
          description: Maximum session time in minutes (absolute max time before re-authentication required)
      required:
      - inactivity_timeout_minutes
      - max_session_time_minutes
    SecuritySettingsDataSwagger:
      type: object
      description: Swagger serializer for security settings data.
      properties:
        session_settings:
          allOf:
          - $ref: '#/components/schemas/SessionSettingsSwagger'
          description: Session timeout settings
      required:
      - session_settings
  responses:
    NotFoundError:
      description: Invalid user input when using the filter query parameter. Will return various error messages
    TooManyRequestsError:
      description: Request count exceeds allowed number of concurrent requests for this resource type
    UnauthorizedError:
      description: Access token is missing or invalid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
